{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "modules": true,
        "requireConfigFile": false,
        "sourceType": "module",
        "babelOptions": {
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        }
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": ["error", "single"],
        "no-async-promise-executor": 0
    }
}